<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Providers Directory</title>
    <!-- stylsheet link here-->
</head>
<body>
    <div class="wrapper">
        <header>
             <h1>
            <a href="/">Trans-safe Directory</a>
             </h1>
             <nav>
                 <a href="/login">Log In</a>
                 <button id="logout" class="logout">Log Out</button>
             </nav>
        </header>
        <main>
            <!-- body of page here-->
            {{{ body }}}
        </main>
    </div>

    <script type="text/javascript">
async function logout() {
    const response = await fetch('/api/users/logout', {
        method: 'post',
        headers: { 'Content-Type': 'application/json' }
    });
    if (response.ok) {
        document.location.replace('/');
    } else {
        alert(response.statusText);
    }
}
document.querySelector('#logout').addEventListener('click', logout);
</script>

</body>

</html>