<!-- page design-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {text-align: center;}
        body {background-color: aliceblue;}
        body {margin: 25px;}
        nav {margin-left: 30px;}
        
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Providers Directory</title>
    <!-- stylsheet link here-->
   <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
   <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
   <!-- my stylesheet link here-->
   
    
</head>
<body >
    <div  >
        <header>
             <h1>
            <a href="/" style="margin-left: 40px;">Trans-Safe Healthcare Directory</a>
             </h1>
             <nav style="padding:15px">

                {{#if loggedIn}}
                <a href="/dashboard">Add a Provider</a>
                 <button id="logout" class="btn-no-style">Log Out</button>
                {{else}}
                 <a href="/login">Log In</a>
                 {{/if}}
             </nav>
        </header>
        <main>
            <div>
                <img src="transflag.png" alt="transgender pride flag" />
            </div>
            <!-- body of page here-->
            {{{ body }}}
        </main>
    </div>

<!-- log out func-->

    {{#if loggedIn}}
<script type="text/javascript">
async function logout() {
 console.log("clicked logout");
 
    const response = await fetch('/api/users/logout', {
      method: 'post',
      headers: { 'Content-Type': 'application/json' }
    });
  
    if (response.ok) {
      document.location.replace('/');
    } else {
        console.log('else statement hit')
      alert(response.statusText);
    }
    
};

document.querySelector('#logout').addEventListener('click', logout);
</script>
 {{/if}}
</body>

</html>