<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Providers Directory</title>
    <!-- stylsheet link here-->
</head>
<body>
    <div class="wrapper">
        <header>
             <h1>
            <a href="/">Trans-safe Directory</a>
             </h1>
             <nav>
                 <a href="/login">LogIn</a>
                 <button id="logout" class="btn">Log Out</button>
             </nav>
        </header>
        <main>
            <!-- body of page here-->
            {{{ body }}}
        </main>
    </div>
</body>

</html>