<section>
    <h2>Add a Medical Provider</h2>

    <form class="new-post-form">
        <div>
            <label for="post-name">Name</label>
            <input type="text" id="post-name" name="post-name" />
        </div>

        <div>
            <label for="post-location">Location</label>
            <input type="text" id="post-location" name="post-location" />
        </div>
        <button type="submit" class="btn">Add to Directory</button>
    </form>
</section>