<section>
<h2>Add a New Medical Provider</h2>

<form class="new-provider-form">
<div>
<label for="name">Name</label>
<input type="text" id="name" name="post-name" />
</div>
<div>
<label for="location">Location</label>
<input type="text" id="location" />
</div>

<button type="submit" class="btn">Add Provider</button>

</form>

<!-- shows posts made by user -->
</section>
{{#if posts.length}}
<section>
    <h3>Providers You Have Added:</h3>
    <ul>
          {{#each posts}}
  <li>
      
    <article class="pure-u-1" style="text-align:center;">
        
      
       <!--part for the info from post-->
        <h2>{{name}}</h2>
        <h4>{{location}}</h4>
        

    <!--comments div-->
      <div class="pure-u-1">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
    </ul>
</section>
{{/if}}