


<body>
<form class="login-form" style="padding: 20px;">

    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-login" />
    </div>

    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>

    <div>
        <button type="submit" style="margin: 10px;">Log In</button>
    </div>

</form>

<form class="signup-form">

    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>

    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>

    <div>
        <button type="submit" style="margin: 10px;">Create Account</button>
    </div>

</form>




<script type="text/javascript">
// create user
async function signupFormHandler(event) {
    event.preventDefault();

    const username = document.querySelector('#username-signup').value.trim();
    const password = document.querySelector('#password-signup').value.trim();

    if (username && password) {
        const response = await fetch('/api/users', {
            method: 'post',
            body: JSON.stringify({
                username,
                password
            }),
            headers: { 'Content-Type': 'application/json' }
        });

        if (response.ok) {
            console.log('success');
        } else {
            alert(response.statusText);
        }
    }
};
// log in
async function loginFormHandler(event) {
    event.preventDefault();

    const username = document.querySelector('#username-login').value.trim();
    const password = document.querySelector('#password-login').value.trim();

    if (username && password) {
        const response = await fetch('/api/users/login', {
            method: 'POST',
            body: JSON.stringify({
                username,
                password
            }),
            headers: { 'Content-Type': 'application/json' }
        });



        if (response.ok) {
            localStorage.setItem('username', username)
            document.location.replace('/');
        } else {
            alert(response.statusText);
        }
    }
};

document.querySelector('.login-form').addEventListener('submit', loginFormHandler);

document.querySelector('.signup-form').addEventListener('submit', signupFormHandler);

</script>

</body>