
<body>
<form class="login-form">

    <div>
        <label for="username-login">username:</label>
        <input type="text" id="email-login" />
    </div>

    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>

    <div>
        <button type="submit">LogIn</button>
    </div>

</form>

<form class="signup-form">

    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>

    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>

    <div>
        <button type="submit">Create Account</button>
    </div>

</form>




<script type="text/javascript">

function signupFormHandler(event) {
    event.preventDefault();

    const username = document.querySelector('#username-signup').value.trim();
    const password = document.querySelector('#password-signup').value.trim();

    if (username && password) {
        fetch('/api/users', {
            method: 'post',
            body: JSON.stringify({
                username,
                password
            }),
            headers: { 'Content-Type': 'application/json' }
        }).then((response) => {console.log(response)})
    }
}

document.querySelector('.signup-form').addEventListener('submit', signupFormHandler);

</script>
</body>